* {
    box-sizing: border-box;
    }
    .container {
    width: 1170px;
    margin: 0 auto;
    }
    .row:after {
    content: "";
    clear: both;
    display: block;
    }
    .clearfix {
    overflow: hidden;
    }
    [class*="col-"]{
    float: left;
    }
    .col-md-12 {
    width: 100%;
    }
    .col-md-3{
    width: 30%;
    }
    .col-md-9  {
    width: 70%;
    }
    .col-md-8 {
    width: 54%;
    }
    .col-md-4 {
    width: 46%;
    }
    .col-md-2 {
    width: 20%;
    }
    .header {
    padding-top: 10px;
    }
    .icon {
    padding-top: 15px;
    font-size: 20px;
    }
    .icon-drawic {
    padding-left:310px;
    }
    .logo {
    position: relative;
    padding-top: 10px;
    margin:15px;
    font-size: 20px;
    }
    hr {
    height: 5px; 
    color:  #1E90FF;
    background-color:  #1E90FF;
    }
   .title {
    color:  black;
    font-size: 35px;   
    font-weight: bold;  
    padding-bottom: 20px;
    }
    .news {
    padding-left: 5px;
    }
    .time {
    padding-left: 5px;
    padding-right: 5px;
     }
    .author {
    padding-right: 5px;
    }
    .main-news {
    display: block;
    float: left;
    }   
    .main-time {
    color: black;
    font-size:15px;
    top: 10px;
    left: 10px;
    padding-bottom: 10px;
    }
    .description {
    color:black;
    padding-top: 30px;
    font-size:21px;
    font-weight: bold;
    }
    .text {
    color: black;
    padding-top: 30px;
    font-size:17px;
    }
    .title-partner {
    padding-top: 20px;
    color: #1E90FF;
    font-size:23px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    }
    .news-partner {
    padding-top: 15px;
    margin: 10px; 
    width: 80%; 
    font-size:12px;
    }
    .partner-description {
    color:black;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    border-top: 1px solid grey;
    }
    .tag {
    padding-top:20px;
    padding-left:5px;
    padding-bottom: 10px;
    font-size:13px;
    }
    .smi-description {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    }
    .footer-description {
    text-align: left;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top:10px; 
    border-left: 1px solid black;
    padding-left: 10px;
    }
   .footer-border {
    border-top: 1px solid black;
    padding-top: 40px;
   }
  .footer-date-createsite{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 60px;
  } 